In [50]:
import pandas as pd

## EDA

Data upload

In [51]:
df_client_dim = pd.read_csv('./Data/client_dimension.csv')
df_fpa_actual = pd.read_excel('./Data/fpa_actual.xlsx')
df_fpa_budget = pd.read_excel('./Data/fpa_budget.xlsx')
df_fpa_forecast = pd.read_excel('./Data/fpa_forecast.xlsx')

In [52]:
df_client_dim['Join Year'] = pd.to_datetime(df_client_dim['Join Year'], format='%Y')
display(df_client_dim)

,Client,Client Segment,Client Region,Client Cluster,Account Manager,Join Year
0,Client_1,Indépendant,West,Mid-tier,Manager_1,2019-01-01
1,Client_2,GMS,West,Mid-tier,Manager_2,2022-01-01
2,Client_3,Indépendant,North,Small,Manager_3,2019-01-01
3,Client_4,Indépendant,North,Mid-tier,Manager_4,2021-01-01
4,Client_5,GMS,West,Small,Manager_5,2021-01-01
5,Client_6,GMS,South,Small,Manager_1,2021-01-01
6,Client_7,Indépendant,South,Premium,Manager_2,2021-01-01
7,Client_8,HORECA,North,Small,Manager_3,2022-01-01
8,Client_9,Indépendant,West,Premium,Manager_4,2020-01-01
9,Client_10,Indépendant,North,Small,Manager_5,2023-01-01
10,Client_11,Indépendant,North,Small,Manager_1,2018-01-01
11,Client_12,Indépendant,East,Premium,Manager_2,2021-01-01
12,Client_13,GMS,East,Premium,Manager_3,2019-01-01
13,Client_14,Indépendant,East,Small,Manager_4,2021-01-01
14,Client_15,HORECA,South,Mid-tier,Manager_5,2019-01-01
15,Client_16,GMS,West,Premium,Manager_1,2023-01-01
16,Client_17,HORECA,West,Mid-tier,Manager_2,2023-01-01
17,Client_18,HORECA,West,Mid-tier,Manager_3,2023-01-01
18,Client_19,HORECA,West,Mid-tier,Manager_4,2019-01-01
19,Client_20,HORECA,East,Premium,Manager_5,2021-01-01

In [53]:
import pandas as pd

# Supposons que ton DataFrame s'appelle df
df_fpa_actual['Date'] = pd.to_datetime(df_fpa_actual[['Year', 'Month']].assign(DAY=1))
df_fpa_actual.drop(columns=['Year', 'Month'],inplace=True)
df_fpa_actual['Scenario'] = "Actual"
df_fpa_actual.rename(columns={'Subcatego': 'Subcategory'}, inplace=True)

display(df_fpa_actual)

,Country,Category,Subcategory,Client,Volume,Unit Price,Unit Cost,Date,Scenario
0,France,Beverages,Soda,Client_1,116,4.79,3.40,2024-01-01,Actual
1,France,Beverages,Soda,Client_2,107,1.76,1.41,2024-01-01,Actual
2,France,Beverages,Soda,Client_3,123,1.59,1.33,2024-01-01,Actual
3,France,Beverages,Soda,Client_4,132,2.32,1.31,2024-01-01,Actual
4,France,Beverages,Soda,Client_5,113,3.44,2.07,2024-01-01,Actual
...,...,...,...,...,...,...,...,...,...
10795,Italy,Frozen,Frozen Veggies,Client_16,147,4.31,2.81,2025-03-01,Actual
10796,Italy,Frozen,Frozen Veggies,Client_17,129,3.86,2.05,2025-03-01,Actual
10797,Italy,Frozen,Frozen Veggies,Client_18,137,4.46,3.44,2025-03-01,Actual
10798,Italy,Frozen,Frozen Veggies,Client_19,127,2.26,1.83,2025-03-01,Actual
10799,Italy,Frozen,Frozen Veggies,Client_20,143,3.13,1.60,2025-03-01,Actual

In [54]:
df_fpa_budget['Date'] = pd.to_datetime(df_fpa_budget[['Year', 'Month']].assign(DAY=1))
df_fpa_budget.drop(columns=['Year', 'Month'],inplace=True)
df_fpa_budget['Scenario'] = "Budget"
display(df_fpa_budget)

,Country,Category,Subcategory,Client,Volume,Unit Price,Unit Cost,Date,Scenario
0,France,Beverages,Soda,Client_1,124.0,4.01,2.21,2025-01-01,Budget
1,France,Beverages,Soda,Client_2,121.0,4.68,3.83,2025-01-01,Budget
2,France,Beverages,Soda,Client_3,121.0,3.74,2.12,2025-01-01,Budget
3,France,Beverages,Soda,Client_4,113.0,4.91,3.78,2025-01-01,Budget
4,France,Beverages,Soda,Client_5,119.0,4.75,3.76,2025-01-01,Budget
...,...,...,...,...,...,...,...,...,...
8635,Italy,Frozen,Frozen Veggies,Client_16,127.0,5.34,2.72,2025-12-01,Budget
8636,Italy,Frozen,Frozen Veggies,Client_17,118.0,5.20,2.85,2025-12-01,Budget
8637,Italy,Frozen,Frozen Veggies,Client_18,111.0,1.51,0.99,2025-12-01,Budget
8638,Italy,Frozen,Frozen Veggies,Client_19,125.0,1.58,1.11,2025-12-01,Budget
8639,Italy,Frozen,Frozen Veggies,Client_20,109.0,3.58,2.95,2025-12-01,Budget

In [55]:
df_fpa_forecast['Date'] = pd.to_datetime(df_fpa_forecast[['Year', 'Month']].assign(DAY=1))
df_fpa_forecast.drop(columns=['Year', 'Month'],inplace=True)
df_fpa_forecast['Scenario'] = "Forecast"
df_fpa_forecast.rename(columns={'Count': 'Country'}, inplace=True)

display(df_fpa_forecast)

,Country,Category,Subcategory,Client,Volume,Unit Price,Unit Cost,Date,Scenario
0,France,Beverages,Soda,Client_1,123.0,4.01,2.21,2025-01-01,Forecast
1,France,Beverages,Soda,Client_2,116.0,4.68,3.83,2025-01-01,Forecast
2,France,Beverages,Soda,Client_3,114.0,3.74,2.12,2025-01-01,Forecast
3,France,Beverages,Soda,Client_4,106.0,4.91,3.78,2025-01-01,Forecast
4,France,Beverages,Soda,Client_5,113.0,4.75,3.76,2025-01-01,Forecast
...,...,...,...,...,...,...,...,...,...
8635,Italy,Frozen,Frozen Veggies,Client_16,125.0,5.34,2.72,2025-12-01,Forecast
8636,Italy,Frozen,Frozen Veggies,Client_17,113.0,5.20,2.85,2025-12-01,Forecast
8637,Italy,Frozen,Frozen Veggies,Client_18,128.0,1.51,0.99,2025-12-01,Forecast
8638,Italy,Frozen,Frozen Veggies,Client_19,123.0,1.58,1.11,2025-12-01,Forecast
8639,Italy,Frozen,Frozen Veggies,Client_20,108.0,3.58,2.95,2025-12-01,Forecast

In [56]:
df_fact = pd.concat([df_fpa_actual, df_fpa_budget, df_fpa_forecast], ignore_index=True)
display(df_fact)

,Country,Category,Subcategory,Client,Volume,Unit Price,Unit Cost,Date,Scenario
0,France,Beverages,Soda,Client_1,116.0,4.79,3.40,2024-01-01,Actual
1,France,Beverages,Soda,Client_2,107.0,1.76,1.41,2024-01-01,Actual
2,France,Beverages,Soda,Client_3,123.0,1.59,1.33,2024-01-01,Actual
3,France,Beverages,Soda,Client_4,132.0,2.32,1.31,2024-01-01,Actual
4,France,Beverages,Soda,Client_5,113.0,3.44,2.07,2024-01-01,Actual
...,...,...,...,...,...,...,...,...,...
28075,Italy,Frozen,Frozen Veggies,Client_16,125.0,5.34,2.72,2025-12-01,Forecast
28076,Italy,Frozen,Frozen Veggies,Client_17,113.0,5.20,2.85,2025-12-01,Forecast
28077,Italy,Frozen,Frozen Veggies,Client_18,128.0,1.51,0.99,2025-12-01,Forecast
28078,Italy,Frozen,Frozen Veggies,Client_19,123.0,1.58,1.11,2025-12-01,Forecast
28079,Italy,Frozen,Frozen Veggies,Client_20,108.0,3.58,2.95,2025-12-01,Forecast

Export des données pour BI

In [57]:
df_client_dim.to_excel('./Data/final_client_dimension.xlsx')

In [58]:
df_fact.to_excel('./Data/df_fact.xlsx')